@{
       /**/
       Layout = null;
}

<!DOCTYPE html>
<html>
<title>PMS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/Content/style.css" />
<link rel="stylesheet" href="~/Content/bootstrap.css" />
<link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script language="javascript" type="text/javascript" src="~/Scripts/scipt.js"></script>

<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Lato", sans-serif
    }

    .w3-bar, h1, button {
        font-family: "Montserrat", sans-serif
    }

    .fa-anchor, .fa-coffee {
        font-size: 200px
    }
</style>
<body>

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-red w3-card w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About</a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contact Us</a>

        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
            <a href="#" class="w3-bar-item w3-button w3-padding-large">About</a>
            <a href="#" class="w3-bar-item w3-button w3-padding-large">Contact Us</a>
        </div>
    </div>

    <!-- Header -->
    <header class="w3-container w3-red w3-center" style="padding:128px 16px">
        <h1 class="w3-margin w3-jumbo">Parking Management System</h1>
        <p class="w3-xlarge">Web-app</p>
        <div class="w3-button w3-black w3-padding-large w3-large w3-margin-top">@Html.ActionLink("Already Parked? Check out here!", "CheckOutForm")</div>
    </header>

    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Parking Slot Selector</h1>
                <h5 class="w3-padding-32">Parking Slot Selector</h5>

                <p>
                    <button class="pbutton" id="ps1" onclick="clickFunction('ps1')">@Html.ActionLink("PS 1", "ParkingSpotForm")</button>                   
                    <button class="pbutton" id="ps2" onclick="clickFunction('ps2')">@Html.ActionLink("PS 2", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps3" onclick="clickFunction('ps3')">@Html.ActionLink("PS 3", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps4" onclick="clickFunction('ps4')">@Html.ActionLink("PS 4", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps5" onclick="clickFunction('ps5')">@Html.ActionLink("PS 5", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps6" onclick="clickFunction('ps6')">@Html.ActionLink("PS 6", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps7" onclick="clickFunction('ps7')">@Html.ActionLink("PS 7", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps8" onclick="clickFunction('ps8')">@Html.ActionLink("PS 8", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps9" onclick="clickFunction('ps9')">@Html.ActionLink("PS 9", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps10" onclick="clickFunction('ps10')">@Html.ActionLink("PS 10", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps11" onclick="clickFunction('ps11')">@Html.ActionLink("PS 11", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps12" onclick="clickFunction('ps12')">@Html.ActionLink("PS 12", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps13" onclick="clickFunction('ps13')">@Html.ActionLink("PS 13", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps14" onclick="clickFunction('ps14')">@Html.ActionLink("PS 14", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps15" onclick="clickFunction('ps15')">@Html.ActionLink("PS 15", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps16" onclick="clickFunction('ps16')">@Html.ActionLink("PS 16", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps17" onclick="clickFunction('ps17')">@Html.ActionLink("PS 17", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps18" onclick="clickFunction('ps18')">@Html.ActionLink("PS 18", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps19" onclick="clickFunction('ps19')">@Html.ActionLink("PS 19", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps20" onclick="clickFunction('ps20')">@Html.ActionLink("PS 20", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps21" onclick="clickFunction('ps21')">@Html.ActionLink("PS 21", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps22" onclick="clickFunction('ps22')">@Html.ActionLink("PS 22", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps23" onclick="clickFunction('ps23')">@Html.ActionLink("PS 23", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps24" onclick="clickFunction('ps24')">@Html.ActionLink("PS 24", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps25" onclick="clickFunction('ps25')">@Html.ActionLink("PS 25", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps26" onclick="clickFunction('ps26')">@Html.ActionLink("PS 26", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps27" onclick="clickFunction('ps27')">@Html.ActionLink("PS 27", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps28" onclick="clickFunction('ps28')">@Html.ActionLink("PS 28", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps29" onclick="clickFunction('ps29')">@Html.ActionLink("PS 29", "ParkingSpotForm")</button>
                    <button class="pbutton" id="ps30" onclick="clickFunction('ps30')">@Html.ActionLink("PS 30", "ParkingSpotForm")</button>


                </p>
            </div>


        </div>
    </div>


    <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
        <h1 class="w3-margin w3-xlarge">Quote of the day: Always do what you are afraid to do.</h1>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity">
        <div class="w3-xlarge w3-padding-32">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
        <p>No animals were harmed during the making of this. <br>Developed with ♥ by Harshita Joshi and Prabhu Pant</p>
    </footer>

    <script>
        // Used to toggle the menu on small screens when clicking on the menu button
        function myFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>

</body>
</html>